<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Bug Report Entry Page</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(90deg, #f9f98f, #676767);
            color: #444;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            max-width: 1100px;
            margin: 2rem auto;
            background: #ffffff;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }
        h1 {
            font-size: 32px;
            color: #5D647B;
            text-align: center;
            margin-bottom: 40px;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 30px;
            padding: 20px;
        }
        .grid > div {
            background: #f8f8f8;
            border: none;
            padding: 20px;
            border-radius: 8px;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
        }
        .full-width {
            grid-column: 1 / -1;
        }
        label {
            display: block;
            font-weight: 600;
            margin-bottom: 10px;
            color: #5D647B;
        }
        input[type="text"],
        input[type="date"],
        input[type="file"],
        select,
        textarea {
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #cccccc;
            border-radius: 8px;
            box-sizing: border-box;
            font-size: 16px;
            background: #fefefe;
            transition: border-color 0.3s;
        }
        input[type="text"]:focus,
        input[type="date"]:focus,
        input[type="file"]:focus,
        select:focus,
        textarea:focus {
            border-color: #5D647B;
            outline: none;
        }
        textarea {
            resize: vertical;
            height: 120px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        .checkbox-label {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        input[type="checkbox"] {
            margin-right: 10px;
            cursor: pointer;
        }
        .form-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
        }
        input[type="submit"],
        input[type="reset"],
        input[type="button"] {
            padding: 10px 30px;
            border: none;
            border-radius: 20px;
            background: #5D647B;
            color: white;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;
            transition: all 0.3s ease;
        }
        input[type="submit"]:hover,
        input[type="reset"]:hover {
            background: #4e5571;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transform: translateY(-2px);
        }
        input[type="button"] {
            background: #a2a2a2;
        }
        input[type="button"]:hover {
            background: #929292;
        }
        @media only screen and (max-width: 768px) {
            .container {
                width: 95%;
                margin: 1rem auto;
            }
            .grid {
                grid-template-columns: 1fr;
            }
            .form-actions {
                flex-direction: column;
            }
            input[type="submit"],
            input[type="reset"],
            input[type="button"] {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Edit Bug Report Page</h1>
    <form action="/editReport/<%= report[0].report_id %>?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="grid">
            <div>
                <label for="program">Program:</label>
                <select id="program" name="program" required onchange="updateFunctionalAreas();">
                    <option value="">--Please choose an option--</option>
                    <% programs.forEach(function(program) { %>
                        <% if(report[0].program == program.program_id) { %>
                            <option value="<%= program.program_id %>" selected><%= program.program_name %></option>
                        <% } else { %>
                            <option value="<%= program.program_id %>"><%= program.program_name %></option>
                        <% } %>
                    <% }); %>
                </select>
                               
            </div>
            <div>
                <label for="report_type">Report Type:</label>
                <select id="report_type" name="report_type" required>
                    <option value="">--Please choose an option--</option>
                    <option value="CodingError" <% if(report[0].report_type == "CodingError") { %> selected <% } %>>Coding Error</option>
                    <option value="DesignIssue" <% if(report[0].report_type == "DesignIssue") { %> selected <% } %>>Design Issue</option>
                    <option value="Suggestion" <% if(report[0].report_type == "Suggestion") { %> selected <% } %>>Suggestion</option>
                    <option value="Documentation" <% if(report[0].report_type == "Documentation") { %> selected <% } %>>Documentation</option>
                    <option value="Hardware" <% if(report[0].report_type == "Hardware") { %> selected <% } %>>Hardware</option>
                    <option value="Query" <% if(report[0].report_type == "Query") { %> selected <% } %>>Query</option>
                </select>
            </div>
            <div>
                <label for="severity">Severity:</label>
                <select id="severity" name="severity" required>
                    <option value="">--Please choose an option--</option>
                    <option value="Fatal" <% if(report[0].severity == "Fatal") { %> selected <% } %>>Fatal</option>
                    <option value="Serious" <% if(report[0].severity == "Serious") { %> selected <% } %>>Serious</option>
                    <option value="Minor" <% if(report[0].severity == "Minor") { %> selected <% } %>>Minor</option>
                </select>
            </div>
            <div class="full-width">
                <label for="problem_summary">Problem Summary:</label>
                <input type="text" id="problem_summary" value="<%= report[0].problem_summary %>" name="problem_summary">
            </div>
            <div class="full-width">
                <label for="problem">Problem:</label>
                <textarea id="problem" name="problem" rows="4"><%= report[0].problem %></textarea>
            </div>
            <div class="full-width">
                <label for="suggested_fix">Suggested Fix:</label>
                <textarea id="suggested_fix" name="suggested_fix" rows="4"><%= report[0].suggested_fix %></textarea>
            </div>
            <div class="full-width">
                <label for="attachment">Additional Documents:</label>
                <input type="file" id="attachment" name="attachment">
            </div>
            <div>
                <label for="reported_by">Reported By:</label>
                <select id="reported_by" name="reported_by">
                    <option value="">--Please select an option--</option>
                    <% employees.forEach((employee) => { %>
                        <% if(report[0].reported_by == employee.user_id) { %>
                            <option value="<%= employee.user_id %>" selected><%= employee.first_name %> <%= employee.last_name %></option>
                        <% } else { %>
                            <option value="<%= employee.user_id %>"><%= employee.first_name %> <%= employee.last_name %></option>
                        <% } %>
                    <% }) %>
                </select>                
            </div>
            <div>
                <label for="date">Report Date:</label>
                <input type="date" id="report_date" value = "<%= report[0].date.toISOString().split('T')[0] %>" name="report_date">
            </div>
            <div class="checkbox-label">
                <input type="checkbox" id="reproducible" name="reproducible" <% if(report[0].reproducible == 'on'){ %> checked <% } %>>
                <label for="reproducible">Reproducible?</label>
            </div>
            <br>
            <h1 class="section-title"><span>Items Below are for use only for the development team</span></h1>
            <br>
            <div>
                <label for="functional_area">Functional Area:</label>
                <select id="functional_area" name="functional_area" <%= currentUser.user_level === '1' ? 'disabled' : '' %>></select>
            </div>
            <div>
                <label for="assigned_to">Assigned To:</label>
                <select id="assigned_to" name="assigned_to">
                    <option value="">--Please select an option--</option>
                    <% employees.forEach((employee) => { %>
                        <% if(report[0].assigned_to == employee.user_id) { %>
                            <option value="<%= employee.user_id %>" selected><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></option>
                        <% } else { %>
                            <option value="<%= employee.user_id %>"><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="full-width">
                <label for="comments">Comments:</label>
                <textarea id="comments" name="comments" rows="4"><%= report[0].comments %></textarea
            </div>
            <div>
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="">--Please choose an option--</option>
                    <option value="Open" <% if(report[0].status == "Open") { %> selected <% } %>>Open</option>
                    <option value="Closed" <% if(report[0].status == "Closed") { %> selected <% } %>>Closed</option>
                </select>
            </div>
            <div>
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                    <option value="">--Please choose an option--</option>
                    <option value="One" <% if(report[0].priority == "one") { %> selected <% } %>>1</option>
                    <option value="Two" <% if(report[0].priority == "Two") { %> selected <% } %>>2</option>
                    <option value="Three" <% if(report[0].priority == "Three") { %> selected <% } %>>3</option>
                    <option value="Four" <% if(report[0].priority == "Four") { %> selected <% } %>>4</option>
                    <option value="Five" <% if(report[0].priority == "Five") { %> selected <% } %>>5</option>
                </select>
            </div>
            <div>
                <label for="resolution">Resolution:</label>
                <select id="resolution" name="resolution">
                    <option value="">--Please choose an option--</option>
                    <option value="Pending" <% if(report[0].resolution == "Pending") { %> selected <% } %>>Pending</option>
                    <option value="Fixed" <% if(report[0].resolution == "Fixed") { %> selected <% } %>>Fixed</option>
                    <option value="Irreproducible" <% if(report[0].resolution == "Irreproducible") { %> selected <% } %>>Irreproducible</option>
                    <option value="Deferred" <% if(report[0].resolution == "Deferred") { %> selected <% } %>>Deferred</option>
                    <option value="As Designed" <% if(report[0].resolution == "As Designed") { %> selected <% } %>>As Designed</option>
                    <option value="CantBeFixed" <% if(report[0].resolution == "CantBeFixed") { %> selected <% } %>>Can't Be Fixed</option>
                    <option value="Withdrawn" <% if(report[0].resolution == "Withdrawn") { %> selected <% } %>>Withdrawn By Reporter</option>
                    <option value="MoreInfo" <% if(report[0].resolution == "MoreInfo") { %> selected <% } %>>Need More Info</option>
                    <option value="Disagree" <% if(report[0].resolution == "Disagree") { %> selected <% } %>>Disagree With Suggestion</option>
                </select>
            </div>
            <div>
                <label for="resolution_version">Resolution Version:</label>
                <input type="text" id="resolution_version" value="<%= report[0].resolution_version %>" name="resolution_version">
            </div>
            <div>
                <label for="resolved_by">Resolved By:</label>
                <select id="resolved_by" name="resolved_by">
                    <option value="">--Please select an option--</option>
                    <% employees.forEach((employee) => { %>
                        <% if(report[0].resolved_by == employee.user_id) { %>
                            <option value="<%= employee.user_id %>" selected><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></option>
                        <% } else { %>
                            <option value="<%= employee.user_id %>"><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
            <div>
                <label for="resolved_date">Resolved Date:</label>
                <input type="date" id="resolved_date" name="resolved_date" value="<%= report[0].resolved_date ? report[0].resolved_date.toISOString().split('T')[0] : '' %>">
            </div>
            <div>
                <label for="tested_by">Tested By:</label>
                <select id="tested_by" name="tested_by">
                    <option value="">--Please select an option--</option>
                    <% employees.forEach((employee) => { %>
                        <% if(report[0].tested_by == employee.user_id) { %>
                            <option value="<%= employee.user_id %>" selected><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></option>
                        <% } else { %>
                            <option value="<%= employee.user_id %>"><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
            <div>
                <label for="test_date">Test Date:</label>
                <input type="date" id="test_date" name="test_date" value="<%= report[0].test_date ? report[0].test_date.toISOString().split('T')[0] : '' %>">
            </div>
            <div class="checkbox-label">
                <input type="checkbox" id="treat_as_deferred" name="treat_as_deferred" <% if(report[0].reproducible == 'on'){ %> checked <% } %>>
                <label for="treat_as_deferred">Treat as Deferred?</label>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
            <input type="button" value="Cancel" onclick="window.location.href='/';">
        </div>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const programDropdown = document.getElementById('program');
    const functionalAreaDropdown = document.getElementById('functional_area');
    const currentFunctionalArea = '<%= report[0].functional_area %>';  // Ensure this is passed correctly

    function loadFunctionalAreas(programId) {
        fetch(`/getFunctionalAreas/${programId}`)
        .then(response => response.json())
        .then(areas => {
            functionalAreaDropdown.innerHTML = '<option value="">--Select an option--</option>';
            areas.forEach(area => {
                console.log(area.area_id, currentFunctionalArea);
                let isSelected = area.area_id.toString() === currentFunctionalArea.toString();
                let option = new Option(area.area_name, area.area_id);
                option.selected = isSelected;
                functionalAreaDropdown.add(option);
            });
        })
        .catch(error => console.error('Error fetching functional areas:', error));
    }

    programDropdown.addEventListener('change', function() {
        loadFunctionalAreas(this.value);
    });

    // Ensure to populate on initial load if there is already a program selected
    if (programDropdown.value) {
        loadFunctionalAreas(programDropdown.value);
    }
});
</script>

    
    
</body>
</html>
