<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Add Area</title>
        <!-- Bootstrap 5 CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body, html {
                height: 100%;
                margin: 0;
            }
            body{
                background: linear-gradient(90deg, #f9f98f, #676767);
            }

            body::before {
                content: '';
                position: fixed; 
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url('lb.png');
                background-size: 30%;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.7; 
                z-index: -1; /* Place the background behind the content */
            }
        </style>

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Area Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-4">
            <h2 class="mb-4">Edit Area</h2>
            <form action="/editArea/<%= area[0].area_id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="area_name" class="form-label">Area Name</label>
                    <input type="text" value="<%= area[0].area_name %>" class="form-control" id="area_name" name="area_name" required>
                </div>
                <div class="mb-3">
                    <label for="program" class="form-label">Program</label>
                    <select class="form-select" id="program" name="program" required>
                        <option value="">Select a Program</option>
                        <% programs.forEach((program) => { %>
                            <% if(program.program_id == area[0].program){ %>
                                <option value="<%= program.program_id %>" selected><%= program.program_name %></option>    
                            <% } else { %>
                                <option value="<%= program.program_id %>"><%= program.program_name %></option>
                            <% } %>
                        <% }) %>
                        <% console.log(area) %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/admin" class="btn btn-danger">Cancel</a>
                <button type="reset" class="btn btn-warning">Reset</button>
            </form>
        </div>

        <script src="js/register.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>